ion-content {
    --background: #FFF url('../../../assets/img/fundo-home.png') no-repeat center / cover;
    text-align: center;
}

.logo {
    width: 70%;
    margin-top: 25%;
}

.btnHome {
    margin-top: 10%;
}

.iconSocial img {
    width: 50%;
    margin: 15% 0;
}

.loginItem {
    margin-top: 30%;
    padding-bottom: 5%;
}

h1 {
    font-weight: 900;
    color: #333;
}

.itemInput {
    opacity: .8;
    --background: #9f87bbd1;
}

.btn {
    color: #333;
}

.btnFundo {
    --background: #9f87bb;
}

.borda {
    --border-color: #9f87bb;
}