<ion-content class="ion-padding">

    <img class="logo" src="../../../assets/img/logo-kibeleza.svg" alt="KiBeleza">
    <h1>Seja Bem Vindo</h1>

    <ion-item class="loginItem itemInput">
        <ion-icon name="mail" color="primary" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email:" autofocus="true" inputmode="mail" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="itemInput">
        <ion-icon name="lock" color="primary" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Senha:" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-button class="btn btnFundo" expand="block" (click)="logar()">Entrar</ion-button>
    <ion-button class="btn borda" expand="block" fill="outline" href="/tabs/pg/cadastro">Cadastro</ion-button>
    <ion-button class="btn btnFundo" expand="block">
        <ion-icon name="logo-facebook"></ion-icon>
        Entre com Facebook
    </ion-button>

</ion-content>