<ion-content class="ion-padding">
  <img
    class="logo"
    src="../../../assets/img/logo-kibeleza.svg"
    alt="KiBeleza"
  />
  <h1>Seja Bem Vindo</h1>

  <form [formGroup]="cadastro" (ngSubmit)="cadCliente()">
    <ion-item class="loginItem itemInput">
      <ion-icon name="person" color="primary" slot="start"></ion-icon>
      <ion-input
        type="text"
        placeholder="Nome:"
        autofocus="true"
        inputmode="text"
        [(ngModel)]="nome"
        formControlName="nome"
      ></ion-input>
    </ion-item>
    <ion-item class="itemInput">
      <ion-icon name="mail" color="prim-ary" slot="start"></ion-icon>
      <ion-input
        type="email"
        placeholder="Email:"
        inputmode="mail"
        [(ngModel)]="email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item class="itemInput">
      <ion-icon name="lock" color="primary" slot="start"></ion-icon>
      <ion-input
        type="password"
        placeholder="Senha:"
        [(ngModel)]="senha"
        formControlName="senha"
      ></ion-input>
    </ion-item>

    <ion-button type="submit" class="btn btnFundo" expand="block"
      >Cadastro</ion-button
    >
  </form>
</ion-content>
