ion-content {
    --background: #FFF url('../../../assets/img/fundo-login.png') no-repeat center / cover;
    text-align: center;
}

.logo {
    width: 70%;
    margin-top: 25%;
}

.loginItem {
    margin-top: 30%;
}

ion-item {
    padding: 2% 0;
}

.itemInput {
    opacity: .8;
    --background: #ca78fc;
}

.btn {
    color: #333;
}

.btnFundo {
    --background: #9f87bb;
}

.borda {
    --border-color: #9f87bb;
}