<ion-content class="corpo-home">

  <img class="logo" src="../../../assets/img/logo-kibeleza.svg" alt="KiBeleza">

  <ion-row class="btnHome">
    <ion-col size="6">
      <ion-tab-button tab="sobre">
        <img src="../../../assets/img/home1.png" alt="Kibeleza">
      </ion-tab-button>
    </ion-col>
    <ion-col size="6">
      <ion-tab-button tab="lista-servico">
        <img src="../../../assets/img/home2.png" alt="Kibeleza">
      </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-slides pager>

        <ion-slide>
          <img src="../../../assets/img/home-banner1.png" alt="Kibeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/home-banner2.png" alt="Kibeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/home-banner3.png" alt="Kibeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/home-banner4.png" alt="Kibeleza">
        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="iconSocial">
    <ion-col size="3">
      <img src="../../../assets/img/icon-face.svg" alt="">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/icon-insta.svg" alt="">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/icon-twitter.svg" alt="">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/icon-link.svg" alt="">
    </ion-col>
  </ion-row>

</ion-content>