ion-content{
    --background: #FFF url('../../../assets/img/fundo-home.png') no-repeat center / cover;
    text-align: center;
}

.logo{
    width: 70%;
    margin-top: 25%;
}

.btnHome{
    margin-top: 10%;
}

.iconSocial img{
    width: 50%;
    margin: 15% 0;
}