<ion-tabs>

  <ion-tab-bar slot="bottom" class="corTabs">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon class="imgSobre" src="../../assets/icon/logoKibeleza.svg"></ion-icon>
      <ion-label>SOBRE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-servico">
      <ion-icon name="cut"></ion-icon>
      <ion-label>SERVIÇO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
        <ion-icon name="person"></ion-icon>
        <ion-label>LOGIN</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
