.corTopo{
    --background: #9f87bb;
    --color: #333;
    padding-top: 10%;
    text-align: center;
    font-weight: bold;
}

ion-content{
    --background: url(../../../assets/img/fundo-pg.png) no-repeat center / cover;
}

.servicoItem h4{
    font-size: 1.2em;
    text-align: left;
}

.servicoItem p{
    font-size: .7em;
    text-align: justify;
    padding-right: 3%;
}

.servicoItem:nth-child(even){
    background: #9f87bb65;
}

.iconDetalhe{
    float: right;
    font-size: x-large;
}
