<ion-header>
    <ion-toolbar class="corTopo">
        <ion-title>Serviços kiBeleza</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="servicoItem" *ngFor="let servico of servicos">
        <ion-col size="4">
            <ion-tab-button>
                <ion-img [src]="servidorUrl.getUrl()+servico.foto" alt=""></ion-img>
            </ion-tab-button>
        </ion-col>
        <ion-col size="8">
            <h4>{{servico.nome}}</h4>
            <p>{{servico.descricao}}</p>
            <a href="/tabs/pg/servico/{{servico.codigo}}" class="iconDetalhe">
                <ion-icon name="arrow-dropright-circle"></ion-icon>
            </a>
        </ion-col>
    </ion-row>

</ion-content>