<ion-header class="topo">
    <ion-toolbar>
        <ion-title>{{dados[0]?.nome}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager>

        <ion-slide>
            <img src="http://allepalmeira.com.br/ti03-kibeleza/admin/{{dados[0]?.foto1}}" alt="Kibeleza">
        </ion-slide>
        <ion-slide>
            <img src="http://allepalmeira.com.br/ti03-kibeleza/admin/{{dados[0]?.foto2}}" alt="Kibeleza">
        </ion-slide>
        <ion-slide>
            <img src="http://allepalmeira.com.br/ti03-kibeleza/admin/{{dados[0]?.foto3}}" alt="Kibeleza">
        </ion-slide>

    </ion-slides>

    <p>{{dados[0]?.texto}}</p>

    <ion-button expand="block">Reserva</ion-button>


</ion-content>